[flake8]
    per-file-ignores = __init__.py:F401
    max-line-length = 90
    extend-ignore = E203,T003,PT009
    inline-quotes = double
    exclude =
          .git,
          __pycache__,
          static,
          migrations,

